.carousel-item {
    border-top: 1px;
    height: 82vh;
}

.carousel-caption {
    width: 100%;
    top: 0;
    padding: 8px !important;
    text-align: center;
    background: rgb(128, 126, 0);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    height: 69px;
    border-color: black;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    right: 0 !important;
    left: 0 !important;
  }
  
  .carousel-caption h2 {
    margin: 0px;
  }